.popup-wrapper {
  position: relative;
}

.popup {
  position: fixed;
  z-index: 999;
}

.popup__background {
  position: fixed;
  inset: 0;
}

.popup__content {
  position: fixed;
  visibility: hidden;
}
