body *, *:before, *:after {
  font: inherit;
  box-sizing: border-box;
  color: inherit;
  user-select: inherit;
}

body {
  margin: 0;
  font-family: Trebuchet MS, sans-serif;
  user-select: none;
  background: #888;
  height: 100vh;
  display: grid;
  grid-template:
    "toolbar toolbar" min-content
    "editor sidebar" auto / auto calc(200px * var(--zoom));
  font-size: calc(16px * var(--zoom));
}

#toolbar {
  display: flex;
  gap: calc(4px * var(--zoom));
  padding: calc(4px * var(--zoom));
  background: #999;
  border-bottom: calc(2px * var(--zoom)) solid #777;
  grid-area: toolbar;
}

.button {
  color: #000;
  --button-color: #aaa;
  background: var(--button-color);
  border: calc(1px * var(--zoom)) outset var(--button-color);
  padding: calc(2px * var(--zoom)) calc(8px * var(--zoom));
}

button:not(:disabled):hover {
  --button-color: #bbb;
}

button:not(:disabled):active:focus {
  --button-color: #999;
  border-style: inset;
}

button:disabled {
  opacity: .5;
}

input {
  display: none;
}

rect {
  --size: calc(8px * var(--zoom));
  --offset: calc(var(--size) * -.5);
  fill: #fff8;
  width: var(--size);
  height: var(--size);
  transform: translate(var(--offset), var(--offset));
  stroke: #0008;
  stroke-width: calc(1px * var(--zoom));
}

.path1 {
  stroke-width: calc(1px * var(--zoom));
  stroke-dasharray: var(--dash) var(--dash);
  stroke: #0008;
  fill: transparent;
}

.path2 {
  stroke-width: calc(1px * var(--zoom));
  stroke-dasharray: var(--dash) var(--dash);
  stroke-dashoffset: var(--dash);
  stroke: #fff8;
  fill: none;
}

#editor {
  grid-area: editor;
  padding: calc(4px * var(--zoom));
  overflow: auto;
}

#canvas-wrapper {
  position: relative;
  display: inline-block;
}

#editor-paths {
  position: absolute;
  inset: 0;
  --dash: calc(5 * var(--zoom));
}

#sidebar {
  grid-area: sidebar;
  padding: calc(4px * var(--zoom));
  background: #999;
  border-left: calc(2px * var(--zoom)) solid #777;
}

.result {
  height: calc(70px * var(--zoom));
  border: calc(1px * var(--zoom)) solid #000;
  padding: calc(4px * var(--zoom));
  display: grid;
  grid-template-columns: auto min-content;
}

.result + .result {
  margin-top: calc(4px * var(--zoom));
}

.result--dark {
  color: #fff;
}

.result-name, .path-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.8em;
  line-height: 1.5;
}

.dropdown-button {
  position: relative;
  padding: 0;
  text-align: center;
  font-size: 0.7em;
  width: calc(20px * var(--zoom));
  height: calc(20px * var(--zoom));
}

.dropdown {
  color: revert;
  font-size: calc(16px * var(--zoom));
  border-width: calc(1px * var(--zoom));
  outline: none;
  opacity: 0;
  position: absolute;
  inset: 0;
}

summary {
  list-style-type: none;
}

summary:before {
  content: "▶";
  display: inline-block;
  width: 1em;
  height: 1em;
  text-align: center;
}

details[open] summary:before {
  content: "▼";
}

.path {
  --thumbnail-size: calc(40px * var(--zoom));
  display: grid;
  grid-template: var(--thumbnail-size) / var(--thumbnail-size) auto min-content;
}

.path.highlighted {
  background: #aa8;
}

.path-thumbnail {
  max-width: 100%;
  max-height: 100%;
}
