.editor-path__path-1 {
  fill: transparent;
  stroke: #0008;
  stroke-width: var(--stroke);
  stroke-dasharray: var(--dash) var(--dash);
}

.editor-path__path-2 {
  fill: none;
  stroke: #fff8;
  stroke-width: var(--stroke);
  stroke-dasharray: var(--dash) var(--dash);
  stroke-dashoffset: var(--dash);
}

.editor-path__point {
  fill: #fff8;
  stroke: #0008;
  stroke-width: var(--stroke);
  width: var(--point);
  height: var(--point);
  --offset: calc(var(--point) * -0.5);
  transform: translate(var(--offset), var(--offset));
}
